atomicwrites==1.4.0
attrs==19.3.0
awscli==1.18.66
backcall==0.1.0
beautifulsoup4==4.9.3
bleach==3.1.5
blindspin==2.0.1
botocore==1.16.16
cachetools==4.2.2
cassandra-driver==3.23.0
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.3
crayons==0.4.0
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.1.0
docker==4.3.1
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Cors==3.0.10
geomet==0.1.2
google==3.0.0
google-api-core==1.26.3
google-auth==1.30.0
google-cloud==0.34.0
google-cloud-core==1.6.0
google-cloud-storage==1.38.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
idna==2.10
iniconfig==1.0.1
ipykernel==5.2.1
ipython==7.14.0
ipython-cql==0.5
ipython-genutils==0.2.0
ipython-sql==0.4.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==8.4.0
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy==1.19.1
openpyxl==3.0.5
packaging==20.3
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
pluggy==0.13.1
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.15.8
py==1.9.0
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
pyspark==2.4.5
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.24.0
rsa==3.4.2
s3transfer==0.3.3
Send2Trash==1.5.0
six==1.14.0
soupsieve==2.2.1
SQLAlchemy==1.3.16
sqlparse==0.3.1
terminado==0.8.3
testcontainers==3.0.3
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
